.wrapper{

    align-self: center;
    justify-self: center;
    width: fit-content;
    margin: 20px;
}

.gradient {
    background: #ffffff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fdf97e, #05ac02); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fdf97e, #05ac02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: inherit;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.gradientlg {
    background: #ffffff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fdf97e, #05ac02); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fdf97e, #05ac02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

@media only screen and (max-width: 750px) {
.blocktext {
    width: 80%;
}
.border {
    width: 80%;
}
.wrapper {
    width: inherit;
}
.gradient {
    max-width: 80%;
    width: 80%;
}
.gradientlg{
    max-width: 80%;
  }
}

body {

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    
}

.blocktext {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px;
}

.border {
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    margin: 0px;
    width: inherit;
    margin-top: 10px;
}

.border:hover {
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration-color: #05ac02;
    color: #252525;
}

.logo {
    width: inherit;
}
