.wrapper{

    align-self: center;
    justify-self: center;
    width: fit-content;
    margin: 20px;
}

.gradient {
    background: #ffffff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fdf97e, #05ac02); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fdf97e, #05ac02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: fit-content;
    border-radius: 10px;
}

body {

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    
}

.blocktext {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}